* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

<<<<<<< HEAD
.uno1{
    font-size:25px;
    line-height:1.25rem;
}

.estrella1{
    font-size:25px;
=======
p.uno1{
    position:absolute; 
    font-size:17px;
    line-height:1em;
    margin-left:0.625em;
    top: 8em;
}

.estrella1{
    font-size:30px;
>>>>>>> 12a3c7282dc3a929de7d2a9f923847a886e02672
    color:#570266;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
<<<<<<< HEAD
    .uno1{
        font-size:20px;
        line-height:1.25rem;
    }
    .estrella1{
        font-size:15px;
        color:#570266;
    }

=======
    p.uno1{
        position:absolute; 
        font-size:10px;
        line-height:1em;
        margin-left:0.625em;
        top: 13em;
    }
    
    .estrella1{
        font-size:10px;
        color:#570266;
    }
>>>>>>> 12a3c7282dc3a929de7d2a9f923847a886e02672
}