* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p.uno1{
    position:absolute; 
    font-size:17px;
    line-height:1em;
    margin-left:0.625em;
    top: 8em;
}

.estrella1{
    font-size:30px;
    color:#570266;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    p.uno1{
        position:absolute; 
        font-size:10px;
        line-height:1em;
        margin-left:0.625em;
        top: 13em;
    }
    
    .estrella1{
        font-size:10px;
        color:#570266;
    }
}