* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p.cinco5{
    position:absolute; 
    font-size:17px;
    line-height:1.5em;
    margin-top:16em;
    margin-left:0.625em;
}

.estrella5{
    font-size:30px;
    color:#570266;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    p.cinco5{
        position:absolute; 
        font-size:10px;
        line-height:1em;
        margin-left:0.625em;
        top: 7.5em;
    }
    
    .estrella5{
        font-size:10px;
        color:#570266;
    }
}