
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 .WhyChoose{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 5%;
 }

 figure.foto5{
    width: 40%;
    height: auto;
    background-image: url(../../imagenes/vid.jpg);   
    background-size: cover;
    background-position: bottom;
    overflow-x:hidden;
 }

 h2.titulo{
    display: flex;
    font-size: 60px;
    color: #592851;
    font-style: normal;
    font-family: rennie;
    line-height: 3rem;
    margin: 25px;
 }

 .parrafo {
    font-style:normal;
    font-size:35px;
    line-height:2rem;
    font-family: rennie;
 }
 
 Button.boton2{
    color:white;
   background-color: #592851;
    display: flex;
    margin-left: 40%;
    font-family: rennie;

 }




/*estilos para smartphone*/

@media only screen and (min-width: 320px) and (max-width: 767px){
    
    .WhyChoose{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
     }
    
     figure.foto5{
        height: auto;
        background-image: url(../../imagenes/vid.jpg);   
        background-size: cover;
        background-position: bottom;
        overflow-x:hidden;
        height: auto;
        width: auto;
     }
    
     h2.titulo{
        display: flex;
        font-size: 30px;
        font-style: normal;
        color: #592851;
        font-family: rennie;
        line-height: 3rem;
        height: auto;
        width: auto;
     }
    
     .parrafo {
        font-style:normal;
        font-size:24px;
        line-height:1.7rem;
        font-family: rennie;
        height: auto;
        width: auto;
     }
     
     Button.boton2{
      color:white;
      background-color: #592851;
        height: auto;
        font-family: rennie;
        width: auto;
        margin: 0%;
        padding: 0%;

     }
}

@media only screen and (min-width: 768px) and (max-width: 940px){
   .WhyChoose{
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row-reverse;
      margin: 5%;
   }
  
   figure.foto5{
      width: auto;
      height: auto;
      background-image: url(../../imagenes/vid.jpg);   
   }
  
   h2.titulo{
      display: flex;
      font-size: 60px;
      font-style: normal;
      color: #592851;
      font-family: rennie;
      line-height: 3rem;
      margin: 25px;
   }
  
   .parrafo {
      font-style:normal;
      font-size:35px;
      font-family: rennie;
      line-height:2rem;
   }
   
   Button.boton2{
      color:white;
      background-color: #592851;
      display: flex;
      margin-left: 35%;
      font-family: rennie;
  
   }
}

@media only screen and (min-width: 941px) and (max-width: 1210px){
   .WhyChoose{
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row-reverse;
      margin: 5%;
   }
  
   figure.foto5{
      width: 40%;
      height: auto;
      background-image: url(../../imagenes/vid.jpg);   
      background-size: cover;
      background-position: bottom;
      overflow-x:hidden;
   }
  
   h2.titulo{
      display: flex;
      font-size: 60px;
      font-family: rennie;
      color: #592851;
      font-style: normal;
      line-height: 3rem;
      margin: 25px;
   }
  
   .parrafo {
      font-style:normal;
      font-size:35px;
      font-family: rennie;
      line-height:2rem;
   }
   
   Button.boton2{
      color:white;
      background-color: #592851;
      display: flex;
      margin-left: 40%;
      font-family: rennie;
  
   }
}