
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 img.foto{
    width: auto;
    height: auto;
    max-height: 30rem;
    max-width: 34.375rem;
   /*float: right;
    position: absolute;*/
 }
div.principal{
    position: absolute;
    height: 30.4375rem;
    width: 73.125rem;
    left:22.1875rem;
    top: 109.6875rem;
    display: flex;
    flex-direction: "row-reverse";
}
 h2.titulo{
    position: absolute;
    font-size: 40px;
    font-weight:43.75rem;
    font-style: normal;
    line-height: 3rem;
    margin: 0px;
 }

 .parrafo {
    font-style:normal;
    font-weight: 31.25rem;
    font-size:1.25rem;
    line-height:1.5rem;
    margin-top: 3.75rem;
 }





/*estilos para smartphone*/

@media only screen and (min-width: 320px) and (max-width: 767px){
    
    h2.titulo{
        font-size: 20px;
        position: absolute;
        vertical-align: top;

    }
    p.parrafo{
        font-size: 10px;
        position: absolute;
        height: 20rem;
    }
    img.foto{
        position: relative;
        width: 100%;
        grid-template: auto;
        display: inline-block;
    }
    .figuras {
        height: 50%;
        width: 50%;
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    } 

 
    
}