* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Photo4{
    height:auto;
    width:auto;
    margin:1rem;
}

.mano2{
    font-size:25px;
    font-style:normal;
    font-family: rennie;
    margin:0rem;
}

.texto4{
    font-size:16px;
    font-style:normal;
    font-family: rennie;
    line-height:1.5rem;
    color:#1F1F1F;
}

@media only screen and (min-width: 320px) and (max-width: 767px){

    .Photo4{
        height:auto;
        width:auto;
        margin:1rem;
    }
    
    .mano2{
        font-size:20px;
        font-style:normal;
        font-family: rennie;
        margin:0rem;
    }
    
    .texto4{
        font-size:15px;
        font-style:normal;
        line-height:1.5rem;
        font-family: rennie;
        color:#1F1F1F;
    }
}

@media only screen and (min-width: 768px) and (max-width: 940px){
    .Photo4{
        height:auto;
        width:auto;
        margin:0.5rem;
    }
    
    .mano2{
        font-size:25px;
        font-style:normal;
        margin:1rem;
        font-family: rennie;
        line-height: 1.5rem;
    }
    
    .texto4{
        font-size:17px;
        font-style:normal;
        line-height:1.2rem;
        color:#1F1F1F;
        font-family: rennie;
        padding: 2%;
    }
}

@media only screen and (min-width: 941px) and (max-width: 1210px){
    .Photo4{
        height:auto;
        width:auto;
        margin:0rem;
    }
    
    .mano2{
        font-size:25px;
        font-style:normal;
        line-height: 1.5rem;
        font-family: rennie;
        margin: 2%;
    }
    
    .texto4{
        font-size:18px;
        font-style:normal;
        line-height:1.3rem;
        font-family: rennie;
        color:#1F1F1F;
    }
}