
@font-face {
    font-family: shadows;
    src: url(../../fuentes/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: reenie;
    src: url(../../fuentes/reenie.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.whomakes{
    height: auto;
    width: auto;
    display: flex;
}

h2.title{
    text-align:center;
    color: #592851;
    font-family: rennie;
    font-size: 60px;
    line-height: 3rem;
    height: auto;
    margin: 5%;
}
div.contenedor {
      height: auto;
      width: auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
      margin: 5%;
}


@media only screen and (min-width: 320px) and (max-width: 767px){
    .whomakes{
        height: auto;
        width: auto;
        display: flex;
    }
    
    h2.title{
        font-size: 25px;
        height: auto;
        width: auto;
    }
    div.contenedor {
        height: auto;
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 2%;
        font-size: 10px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 940px){
    .whomakes{
        height: auto;
        width: auto;
        display: flex;
    }
    
    h2.title{
        text-align:center;
        font-size: 60px;
        line-height: 3rem;
        height: auto;
        margin: 5%;
    }
    div.contenedor {
          height: auto;
          width: auto;
          text-align: center;
          display: flex;
          justify-content: space-between;
          margin: 5%;
    }
}

@media only screen and (min-width: 941px) and (max-width: 1210px){
    .whomakes{
        height: auto;
        width: auto;
        display: flex;
    }
    
    h2.title{
        text-align:center;
        font-size: 60px;
        line-height: 3rem;
        height: auto;
        margin: 5%;
    }
    div.contenedor {
          height: auto;
          width: auto;
          text-align: center;
          display: flex;
          justify-content: space-between;
          margin: 5%;
    }
}



/*@font-face {
    font-family: squarepeg;
    src: url(../../fuentes/SquarePeg-Regular.ttf);
}
@font-face {
    font-family: shadows;
    src: url(../../fuentes/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: reenie;
    src: url(../../fuentes/reenie.ttf);
}

* {
    box-sizing: border-box;
}
.offers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    overflow-x: hidden;
}

.offers h1.titulo {
    position: relative;
    height: auto;
    width: 10*/

    /**********************************************************/

    /** {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.banner {
    background: url(../../images/fondo-banner.jpg);
    height: 90vh;
    width: 100%;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: bottom;
    opacity: 0.75;
    overflow-x:hidden;
}

.banner .banner-info {
    position: relative;
    top:40%;
    left: 15%;
    width: 100%;*/