*{
    padding: 0;
    margin: 0;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

/* estilos para pc */
@media only screen and (min-width: 1030px) and (max-width: 1800px){
.container-all{
  
    width: 100%;
    margin-bottom: 12rem;
}


.container-all img{
    
    width: 570px;
    height: 432px;
    margin-left: 8%;
    margin-bottom: 1rem;
    padding: 5px;
    float: left;
   
}

.container-all p{
    font-size: 20px;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.sub-title{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1rem;
    padding-left: 3rem;
    
    
}


.btn{

    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 3%;
    display: flex;
    justify-content: center;
}
}

/*estilos para tablets*/
@media only screen and (min-width: 768px) and (max-width: 1029px){
    .container-all{
        width: 100%;
        margin: 5px;
        
    }
    
.container-all img{
    
    width: 70%;
    height: 80%;
    padding-left: 16%;
    margin-bottom: 1rem;
    float:initial;
    object-fit: contain;
   
}
.btn {
   font-size: 15px;
   margin-top: 2rem;
   margin-bottom: 2rem;
   font-weight: bold;
   display: flex;
   justify-content: center;
   
}
.sub-title{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 2rem;
    display: flex;
    text-align: center;
    
}
.container-all p{
    font-size: 20px;
    padding-left: 3rem;
    display: flex;
    text-align: center;
}
}


/*estilos para mobile*/
@media only screen and (min-width: 200px) and (max-width: 767px){
    .container-all{
        width: 100%;
        margin-bottom: 6rem;
        padding-right: 0rem;
    }
    
.container-all img{
    object-fit: contain;
    width: 70%;
    height: 200px;
    padding-left: 16%;
    float:initial;
    display: flex;
    justify-content: center;
   
}
.btn {
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center

}
.sub-title{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    font-size: larger;
    
}
.container-all p{
    font-size: 20px;
    display: flex;
    text-align: center;
}



}