@font-face {
    font-family: squarepeg;
    src: url(../../fuentes/SquarePeg-Regular.ttf);
}
@font-face {
    font-family: shadows;
    src: url(../../fuentes/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: reenie;
    src: url(../../fuentes/reenie.ttf);
}

* {
    box-sizing: border-box;
}
.offers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    overflow-x: hidden;
}

.offers h1.titulo {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: reenie;
    font-weight: lighter;
    color: #8C031C;
}
.offers h1.titulo.parpadea {
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   -webkit-animation-name:parpadeo;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.offers h3.subtitulo {
    position: relative;
    width: 200%;
    font-family: monospace;
    font-weight:lighter; 
    text-align: right;
    font-size: 2rem;
    padding: 10px 0;
    color: #282726; 
    animation-name: rightToLeft;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
    

@keyframes rightToLeft {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-100%);
    }
}

.offers .offers-cards {
    position: relative;
    height: 100%;
    width: 95%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 7px;
    padding: 10px 0;
    margin: auto;
    list-style: georgian;
}

.offers .offers-cards .card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    text-align: center;
    font-family: squarepeg;
    background-color: #59285100;
    
}

.offers .offers-cards .card .boton {
    font-family: shadows;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #592851;
    margin-top: 10px;
    background-color: #a6639b4e;
}

.offers .offers-cards .card h1 {
    position: relative;
    font-family: shadows;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #592851;
}

.offers .offers-cards .card img {
    position: relative;
    height: 100%;
    width: 100%;
}

.offers .offers-cards .card ul li {
    position: relative;
    font-family: shadows;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #592851;
}
.offers .offers-cards .card h4 {
    font-family: shadows;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #592851;
}

/* estilos para pc */
@media only screen and (min-width: 941px) and (max-width: 1210px) {
    .offers .offers-cards .card .boton {
        margin-top: 3px;
    }
    .offers .offers-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;   
     }
}

/*estilos para tablets*/
@media only screen and (min-width: 768px) and (max-width: 940px) {
    .offers .offers-cards{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto;   
    }
    .offers .offers-cards .card .boton {
        margin-top: 1px;
    }
}

/*estilos para smartphone*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .offers .offers-cards{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto;   
    }
    .offers h3.subtitulo {
      font-size: 1.5rem;
      animation: none;
      text-align: center;
      width: 100%;
    } 
    .offers .offers-cards .card ul li {
        font-size: 1.5rem;
        text-align: center;
    }
    .offers .offers-cards .card .boton {
        text-align: center;
    }
}

